@page "/detalles/{id:int}"

@using ProyectManager.Models
@using ProyectManager.Services
@inject IProyectoService ProyectoService

<MudText Typo="Typo.h5">Detalles del Proyecto</MudText>

@if (proyecto == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <MudCard>
        <MudCardHeader Class="blue lighten-2">
            <CardHeaderContent>
                <MudText Typo="Typo.h6">@proyecto.Nombre</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.body2">@proyecto.IdAdministrador</MudText>
        </MudCardContent>
        <MudCardContent>
            <MudText Typo="Typo.body2">@proyecto.Descripcion</MudText>
        </MudCardContent>
    </MudCard>
}

@code {
    [Parameter]
    public int id { get; set; }

    Proyecto proyecto = new Proyecto();

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
            proyecto = await ProyectoService.GetById(id);
    }

    
}
